node_modules
cypress/videos
yarn.lock
package-lock.json
.DS_Store

playwright/e2e/2-authenticated-e2e-tests/.auth

# Automatically added by Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
